<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-nextivity"
    version="1.1.0">
    <name>Nextivity</name>
    <description>Cordova Nextivity Plugin</description>
    <author>John Owen</author>
    <keywords>cordova,nextivity</keywords>

    <js-module src="www/nxty.js" name="nxty">
        <clobbers target="window.phony" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Telephony" >
                <param name="android-package" value="com.nextivity.telephony.Telephony"/>
            </feature>
        </config-file>
        <source-file src="src/android/Telephony.java" target-dir="src/com/nextivity/telephony" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
        </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Telephony">
                <param name="ios-package" value="CDVTelephony"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVTelephony.swift" />
    </platform>
</plugin>
